<ion-header no-border >
    <ion-toolbar color="dark" >
        <div   *ngFor="let upsaldo of upsaldos" >
      <ion-button slot="start"  expand="block" color="secondary" fill="outline">
        Tienes para recargas $ {{upsaldo.saldo}}
        <ion-icon name="phone-portrait"></ion-icon>
      </ion-button>
     <!--  <ion-buttons slot="end">
          <ion-back-button text="Volver" icon="return-left" color="tertiary" fill="outline"></ion-back-button>
        </ion-buttons>  -->
      </div>
    </ion-toolbar>
    <!-- <ion-searchbar color="dark" animated 
                            (ionChange)="buscar( $event )"></ion-searchbar>
   -->
  
    <!-- <ion-searchbar color="dark" animated 
                            (ionChange)="buscar( $event )"></ion-searchbar>
   -->
</ion-header>
<ion-content color="dark" padding fullscreen >
    <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="dots"
          refreshingText=" Estamos Trabajando... {{ username }} "  >
        </ion-refresher-content>
      </ion-refresher>
<!-- 
<p>
  {{ no_abonado }}  - {{ valor }} 
</p> -->

<div class="carga-box" >
    <h1>Paquetes Virgin</h1>
    
    
    
    <div class="textbox">
      <input type="number" [(ngModel)]="no_abonado" placeholder="Numero">
    </div>
    <br>
<ion-item color="dark" >
    <ion-label color="light" >Escoge Tu paquete</ion-label>
    <ion-select color="dark" [(ngModel)]="operador" >
      <ion-select-option value="130">1 PAQUETE</ion-select-option>
      <ion-select-option value="125">2 PAQUETE</ion-select-option>
      <ion-select-option  value="126">3 PAQUETE</ion-select-option>
      <ion-select-option value="127"> 4 PAQUETE</ion-select-option>
       <ion-select-option value="123"> 5 PAQUETE</ion-select-option>
      <ion-select-option value="124"> 6 PAQUETE</ion-select-option>
  
  
    </ion-select>
  </ion-item>
  

<!--  <ion-button  (click)="EnviarDatos()"
             color="secondary" expand="full" >
   Listo
 </ion-button>
-->

<div class="textbox">
  <input type="number" [(ngModel)]="valor" placeholder="Valor">
</div>
 
  
    
  
    
  
    
   
    <!-- <ion-grid fixed>
      <ion-row >
        <ion-col size-sm="3" size-lg="3" size-md="3" size="3" size-xs="3" *ngFor="let imagen of imagenes"  >        
           <ion-buttons>
              <ion-button>
          <ion-avatar item-start>  <img src="{{imagen}}"/> </ion-avatar>                  
        </ion-button>
      </ion-buttons>
        </ion-col>
     
      </ion-row>
    </ion-grid> -->    
  
    <br>
      
    <div *ngFor="let upsaldo of upsaldos"  >
      <ion-button  expand="block" color="success" *ngIf="upsaldo.saldo >= valor"  (click)="hacerRecarga()" fill="outline">
        Recargar $ {{ valor }} al {{ no_abonado }}
        <ion-icon slot="start" name="phone-portrait"></ion-icon>
      </ion-button>
  
      <ion-button expand="block" color="danger" *ngIf="valor > upsaldo.saldo" (click)="RecargaProces()" fill="outline">
         Ups... $ {{ upsaldo.saldo }}  no alcanza
          <ion-icon slot="start" name="outlet"></ion-icon>
        </ion-button>
  
      </div>
  
    
  
 
  <br>
    <button  (click)="salirSinNada()" class="btn2">Mejor en otro momento</button> 
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <div>
       <p>1- 1DIA 10 mins TD+10Mins virgin $1,000 </p>
       <p>2- 1DIA, Minutos TD ilimitado + whatsapp ilimitado $3,000</p>
       <p>3- 2DIAS Minutos TD ilimitados + whatsapp ilimitado $5,000</p>
       <p>4- 7DIAS Minutos TD ilimitados + whatsapp ilimitado $10,000</p>
       <p>5- 15DIAS Int 500MB+Ilimitado TD+WP ILIMITADO+10SMS $18,000</p>
       <p>6- 30DIAS Int 1.5GB+300 Min TD+min Virg Ilimitado+WP ilimitado+ $30,000</p>
      
  
     </div>
  

  
  
  </ion-content>
  
